/*
    Created on : Jun 27, 2021, 4:17:14 AM
    Author     : Christopher Brantley <c_brantl@uncg.edu>
*/

@import "alerts.css";
@import "textfield.css";
@import "previewborderpane.css";

.tab-pane {
    -fx-background-color: white;
    -fx-tab-min-height: 100px;
    -fx-tab-min-width: 100px;
}

.tab {
    -fx-background-color: red;
}

.tab *.tab-label {
    -fx-rotate: 90;
}

.tab:selected {
    -fx-background-color: purple;
}

.tab:hover {
    -fx-background-color: blue;
}

.button {
    -fx-background-color: gray;
    -fx-alignment: center;
}

.list-view, .list-cell {
    -fx-background-color: lightgray;
}

.list-cell:selected {
    -fx-background-color: whitesmoke;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : black;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : black;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}