/*
    Created on : Jul 25, 2021, 12:32:48 PM
    Author     : Christopher Brantley <c_brantl@uncg.edu>
*/

.timeoutFieldsPane {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 10;
}