/*
    Created on : Aug 2, 2021, 10:55:54 PM
    Author     : Christopher Brantley <c_brantl@uncg.edu>
*/

.practiceTextField {
}

.practiceTextField:incorrect {
    -fx-border-color: red;
}

.practiceTextField:correct {
    -fx-border-color: green;
}