/* 
    Created on : Jun 25, 2021, 12:36:20 PM
    Author     : Christopher Brantley <ccbrantley@uncg.edu>
*/

.menu-item {
    -fx-background-color: gray;
}

.menu-button {
    -fx-background-color: gray;
}