/*
    Created on : Jun 25, 2021, 12:36:20 PM
    Author     : Christopher Brantley <c_brantl@uncg.edu>
*/

.menuButton {
    -fx-background-color: whitesmoke;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-alignment: center;
}

.menuButton:hover {
    -fx-background-insets: -.25;
    -fx-border-insets: -.25;
}