/*
    Created on : Jul 29, 2021, 10:06:45 PM
    Author     : Christopher Brantley <c_brantl@uncg.edu>
*/

.practiceModeToggleSwitch {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: black;
    -fx-border-width: 1;
}

.practiceModeTogglePane {
    -fx-background-color: gray;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-min-width: 70;
    -fx-max-width: 70;
}

.practiceModeTogglePane:on {
    -fx-background-color: #0048C0;
}