/*
    Created on : Jun 20, 2021, 5:10:21 PM
    Author     : Christopher Brantley

*/

@import "resizepane.css";
@import "menubar.css";
@import "settings/settings.css";
@import "separator.css";
@import "popup.css";
@import "logicbutton.css";

.root {
    -fx-background-color: black;
}

.button {
    -fx-background-color: whitesmoke;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 10;
}

.button:hover {
    -fx-background-insets: -.25;
    -fx-border-insets: -.25;
}