/*
    Created on : Jul 13, 2021, 10:07:28 PM
    Author     : Christopher Brantley <c_brantl@uncg.edu>
*/

.separator {
    -fx-border-style: solid line-join round line-cap round;
    -fx-border-width: 1;
    -fx-border-color: black;
}